body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    min-height: 100vh;
    overflow: hidden; /* Previene el scroll innecesario */

}


main {
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco translúcido para mejorar la legibilidad */
    border-radius: 8px; /* Opcional: añade bordes redondeados */
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px; /* Ajusta según tus necesidades */
}


header {
    background-color: #1b67b8c5;
    color: rgb(31, 23, 23);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#search-container {
    width: 80%;
    max-width: 600px;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


#seek-bar {
    width:clamp(100px, 90%, 800px) ;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #d4d3d3;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#reset-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #0056b3;
}


#alphabet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
}

#alphabet-list li {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    list-style: none;
}

#alphabet-list li:hover {
    background-color: #c1d6ec;
    color: white;
}

#alphabet-list li.disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}

#antibiotic-info {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#antibiotic-info ul {
    text-align: left;
    padding-left: 1rem;
}

#antibiotic-info li {
    padding: 0.5rem;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    list-style: none;
}

#antibiotic-info li:hover {
    background-color: #007bff;
    color: white;
}
#header {
    margin-bottom: 20px; /* Espaciado entre el encabezado y el contenido */
}

#antibiotic-info {
    overflow: auto; /* Permitir desplazamiento si el contenido es demasiado largo */
}

/*--media queries--*/

@media (min-width: 768px) {
    #search-container {
        margin-top: 1rem;
    }

    #alphabet-list {
        gap: 1rem;
    }
}

