body {
    font-family: 'Poppins', 'Nunito', 'Quicksand', sans-serif;
    font-weight: bold;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4rem);
}

.sidebar {
    width: 25%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 1rem;
}

#search-bar {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#alphabet-list {
    list-style: none;
    padding: 0;
}

#alphabet-list li {
    padding: 0.5rem 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#alphabet-list li:hover {
    background-color: #f0f0f0;
}

.details {
    flex-grow: 1;
    padding: 2rem;
    background-color: #ffffff;
    overflow-y: auto;
}

#antibiotic-info {
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.antibiotic-item:hover {
    background-color: #f0f0f0; /* Un color claro para el resaltado */
    cursor: pointer; /* Cambia el cursor a pointer para indicar interactividad */
}
