body {
    font-family: 'Poppins', 'Nunito', 'Quicksand', sans-serif;
    font-weight: bold;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4rem);
}

.sidebar {
    width: 25%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 1rem;
}

#search-bar {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', 'Nunito', 'Quicksand', sans-serif;

}

#alphabet-list {
    list-style: none;
    padding: 0;
}

#alphabet-list li {
    padding: 0.5rem 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#alphabet-list li:hover {
    background-color: #f0f0f0;
}

#alphabet-list li:hover {
    background-color: #e0f7fa; /* Un color claro para el fondo */
    border-radius: 5px; /* Bordes redondeados opcionales */
    transition: background-color 0.3s ease; /* Animación suave */
    cursor: pointer;

}
.details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    background-color: #ffffff;
    overflow-y: auto; /* Permitir scroll si es necesario */
    box-sizing: border-box;
}

#antibiotic-info p {
    color: #ff0000; /* Rojo claro */
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

#search-results {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.antibiotic-item {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.antibiotic-item:hover {
    background-color: #e0f7fa;
    border-radius: 5px;
}

#antibiotic-info {
    width: 100%; /* Fijo para ancho */
    max-width: 800px; /* Tamaño máximo opcional */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: hidden; /* Evitar desplazamientos no deseados */
    box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
    height: auto; /* Adaptar al contenido */
    transition: height 0.3s ease; /* Suavidad al cambiar de tamaño */
}
@media (max-width: 768px) {
    #antibiotic-info {
        width: 30%; /* Reducir en pantallas pequeñas */
    }
}

